.date-picker {
  position: relative;

  &__calendar-wrapper {
    position: absolute;
    z-index: 50;
    top: calc(100% + 5px);
  }

  @media screen and (max-width: 480px) {
    &__calendar-wrapper {
      max-width: -webkit-fill-available;
    }
  }
}
